<launch>
    <node name="ucc23" pkg="usb_cam" type="usb_cam_node" ns="rhag_camera">

        <param name="width" type="int" value="640"/>
        <!-- we raised the value by the factor 2, as it is supported by previous output -->
        <param name="height" type="int" value="480"/>
        <!-- we raised the value by the factor 2 -->
        <param name="fps" type="int" value="30"/>


        <!-- other supported params: auto_exposure, exposure_absolute, brightness, power_line_frequency -->
        <!-- in case you want to use a different video input device, change the value below -->
        <param name="device" type="string" value="/dev/video0"/>


        <param name="pixel_format" value="yuyv"/>

        <param name="exposure_auto_priority" value="0"/>
        <param name="auto_white_balance" value="0"/>
        <param name="white_balance_temperature" value="2800"/>
        <param name="auto_focus" value="0"/>
        <param name="focus_absolute" value="0"/>
        <param name="saturation" value="128"/>
        <param name="hue" value="0"/>


        <param name="brightness" value="100"/>
        <param name="contrast" value="255"/>
        <param name="exposure_absolute" value="255"/>
        <param name="gain" value="12"/>

        <param name="sharpness" value="0"/>
        <param name="auto_gain" value="0"/>
        <param name="auto_exposure" value="0"/>
        <param name="power_line_frequency" value="60"/>

        <param name="horizontal_flip" value="1"/>
        <param name="vertical_flip" value="0"/>
    </node>


    <node name="image_proc" pkg="image_proc" type="image_proc" ns="rhag_camera/ucc23"/>
    <!-- image proc node to republish mono images -->
</launch>


